# exemplo de como deve ser configurado o arquivo .env

# Credenciais do Banco de Dados
DB_HOST='localhost'
DB_PORT='5432'
DB_USER='seu_usuario'
DB_PASSWORD='sua_senha'
DB_NAME='seu_banco'
DB_DRIVER='postgresql'  # postgresql, mysql+pymysql, sqlite, etc